@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@400;500;600;700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

:root {
  --primary: #0a30e1;
  --primary-variant: #09249c;
  --secondary: #3e3c56;
  --surface: #fefeff;
  --text: #131011;
  --text-variant: #cfcfcf;
}

body {
  background-color: var(--surface);
  font-family: 'Open Sans', sans-serif;
}

/* main styles */

main {
  height: calc(100% - 76px);
  display: grid;
  grid-template-areas: 
    "left right";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 5rem 0 5rem;
}

main .hero-img {
  grid-area: right;
  align-items: center;
  justify-self: center; 
}

main .headline {
  grid-area: left;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text);
  text-align: center;
  position: relative;
  top: -2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .main__cta__btn {
  all: unset;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px 36px;
  border-radius: 16px;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: var(--surface);
  font-weight: 600;
  transition: transform 0.125s ease-out;
}

.main__cta__btn:hover {
  border: 3px solid var(--primary-variant);
  background-color: var(--primary-variant);
  transform: scale(1.2);
}